<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is a default page</title>
</head>
<body>

<h1>Welcome to Vlad's web server</h1>
<br>
go to <a href="/welcome">student welcome page</a>
<br>
go to <a href="/mentor/welcomeMentor">mentor welcome page</a>
<br>
call teacher info page
<ul>
    <li><a href="/teacher/teacher-info/history/200">call page</a> with path parameters</li>
    <li><a href="/teacher/teacher-info?subject=math&experience=12">call page</a> with request parameters</li>
    <li><a href="/teacher/teacher-info">call page</a> without  parameters</li>
</ul>


</body>
</html>